# 10장. 일시형
2020-03-24

## 10.1 일시형과 날짜형으로 변환
예약 테이블의 reserve_datetime을 일시형과 날짜형으로, checkin_date와 checkin_time을 합쳐서 일시형으로, checkin_date를 날짜형으로 변환하자.

In [1]:
import pandas as pd
import numpy as np

In [2]:
reserve_tb=pd.read_csv('./data/reserve.csv',encoding='UTF-8')

In [4]:
reserve_tb.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

In [11]:
# to_datetime함수를 이용해 datetime64[ns]형으로 변환한다.
pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S')

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [8]:
pd.to_datetime(reserve_tb['checkin_date']+reserve_tb['checkin_time'],format='%Y-%m-%d%H:%M:%S')

0      2016-03-26 10:00:00
1      2016-07-20 11:30:00
2      2016-10-19 09:00:00
3      2017-03-29 11:00:00
4      2017-09-22 10:30:00
               ...
4025   2017-07-10 09:30:00
4026   2017-10-09 10:30:00
4027   2018-04-02 11:30:00
4028   2016-05-10 09:30:00
4029   2016-07-06 09:00:00
Length: 4030, dtype: datetime64[ns]

In [16]:
# datetime64[ns]형에서 날짜 정보를 얻는다.
pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S').dt.date   # dt.time하면 시간

0       2016-03-06
1       2016-07-16
2       2016-09-24
3       2017-03-08
4       2017-09-05
           ...
4025    2017-06-27
4026    2017-09-29
4027    2018-03-14
4028    2016-04-16
4029    2016-06-06
Name: reserve_datetime, Length: 4030, dtype: object

In [13]:
pd.to_datetime(reserve_tb['checkin_date'],format='%Y-%m-%d').dt.date

0       2016-03-26
1       2016-07-20
2       2016-10-19
3       2017-03-29
4       2017-09-22
           ...
4025    2017-07-10
4026    2017-10-09
4027    2018-04-02
4028    2016-05-10
4029    2016-07-06
Name: checkin_date, Length: 4030, dtype: object

## 10.2 연, 월, 일, 시각, 분 , 초, 요일로 변환

In [17]:
reserve_tb['reserve_datetime']

0       2016-03-06 13:09:42
1       2016-07-16 23:39:55
2       2016-09-24 10:03:17
3       2017-03-08 03:20:10
4       2017-09-05 19:50:37
               ...
4025    2017-06-27 23:00:02
4026    2017-09-29 05:24:57
4027    2018-03-14 05:01:45
4028    2016-04-16 15:20:17
4029    2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: object

In [18]:
# reserve_datetime을 datetime64[ns]형으로 변환한다. 
reserve_tb['reserve_datetime']=pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_datetime']

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [19]:
reserve_tb['reserve_datetime'].dt.year

0       2016
1       2016
2       2016
3       2017
4       2017
        ...
4025    2017
4026    2017
4027    2018
4028    2016
4029    2016
Name: reserve_datetime, Length: 4030, dtype: int64

In [20]:
reserve_tb['reserve_datetime'].dt.month

0       3
1       7
2       9
3       3
4       9
       ..
4025    6
4026    9
4027    3
4028    4
4029    6
Name: reserve_datetime, Length: 4030, dtype: int64

In [21]:
reserve_tb['reserve_datetime'].dt.day

0        6
1       16
2       24
3        8
4        5
        ..
4025    27
4026    29
4027    14
4028    16
4029     6
Name: reserve_datetime, Length: 4030, dtype: int64

In [22]:
# 요일(0=일요일, 1=월요일)을 수치로 얻는다.
reserve_tb['reserve_datetime'].dt.dayofweek

0       6
1       5
2       5
3       2
4       1
       ..
4025    1
4026    4
4027    2
4028    5
4029    0
Name: reserve_datetime, Length: 4030, dtype: int64

In [100]:
def dayofweek(x):
    if x==0:
        return '일'
    elif x==1:
        return '월'
    elif x==2:
        return '화'
    elif x==3:
        return '수'
    elif x==4:
        return '목'
    elif x==5:
        return '금'
    else :
        return '토'

In [101]:
reserve_tb['reserve_datetime'].dt.dayofweek.apply(dayofweek)

0       토
1       금
2       금
3       화
4       월
       ..
4025    월
4026    목
4027    화
4028    금
4029    일
Name: reserve_datetime, Length: 4030, dtype: object

In [113]:
reserve_tb['dayofweek']=reserve_tb['reserve_datetime'].dt.dayofweek.apply(dayofweek)
reserve_tb.iloc[:5,9:]

     checkin_datetime reserve_date reserve_season dayofweek
0 2016-03-26 10:00:00   2016-03-06         spring         토
1 2016-07-20 11:30:00   2016-07-16         summer         금
2 2016-10-19 09:00:00   2016-09-24         autumn         금
3 2017-03-29 11:00:00   2017-03-08         spring         화
4 2017-09-22 10:30:00   2017-09-05         autumn         월

In [23]:
reserve_tb['reserve_datetime'].dt.hour

0       13
1       23
2       10
3        3
4       19
        ..
4025    23
4026     5
4027     5
4028    15
4029     8
Name: reserve_datetime, Length: 4030, dtype: int64

In [24]:
# 지정한 포맷의 문자열로 변환.
reserve_tb['reserve_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

0       2016-03-06 13:09:42
1       2016-07-16 23:39:55
2       2016-09-24 10:03:17
3       2017-03-08 03:20:10
4       2017-09-05 19:50:37
               ...
4025    2017-06-27 23:00:02
4026    2017-09-29 05:24:57
4027    2018-03-14 05:01:45
4028    2016-04-16 15:20:17
4029    2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: object

## 10.3 일시의 차이로 변환

In [25]:
# reserve_datetime을 datetime64[ns]형으로 변환한다.
reserve_tb['reserve_datetime']=pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S')

In [32]:
reserve_tb['checkin_datetime']=pd.to_datetime(reserve_tb['checkin_date']+reserve_tb['checkin_time'],format='%Y-%m-%d%H:%M:%S')

In [33]:
reserve_tb['checkin_datetime']

0      2016-03-26 10:00:00
1      2016-07-20 11:30:00
2      2016-10-19 09:00:00
3      2017-03-29 11:00:00
4      2017-09-22 10:30:00
               ...
4025   2017-07-10 09:30:00
4026   2017-10-09 10:30:00
4027   2018-04-02 11:30:00
4028   2016-05-10 09:30:00
4029   2016-07-06 09:00:00
Name: checkin_datetime, Length: 4030, dtype: datetime64[ns]

In [35]:
# 연도의 차이를 계산한다.(월 이하의 일시 요소는 고려하지 않는다.)
reserve_tb['reserve_datetime'].dt.year - reserve_tb['checkin_datetime'].dt.year

0       0
1       0
2       0
3       0
4       0
       ..
4025    0
4026    0
4027    0
4028    0
4029    0
Length: 4030, dtype: int64

In [38]:
# 월의 차이를 계산한다 (일 이하의 일시 요소는 고려하지 않는다.)
(reserve_tb['reserve_datetime'].dt.year *12 +
reserve_tb['reserve_datetime'].dt.month)\
-(reserve_tb['checkin_datetime'].dt.year *12+
 reserve_tb['checkin_datetime'].dt.month)

0       0
1       0
2      -1
3       0
4       0
       ..
4025   -1
4026   -1
4027   -1
4028   -1
4029   -1
Length: 4030, dtype: int64

In [43]:
(reserve_tb['reserve_datetime']-reserve_tb['checkin_datetime'])

0      -20 days +03:09:42
1       -4 days +12:09:55
2      -25 days +01:03:17
3      -22 days +16:20:10
4      -17 days +09:20:37
              ...
4025   -13 days +13:30:02
4026   -11 days +18:54:57
4027   -20 days +17:31:45
4028   -24 days +05:50:17
4029   -31 days +23:16:51
Length: 4030, dtype: timedelta64[ns]

In [42]:
# 일 단위로 차이를 계산한다.
(reserve_tb['reserve_datetime']-reserve_tb['checkin_datetime']).astype('timedelta64[D]')

0      -20.0
1       -4.0
2      -25.0
3      -22.0
4      -17.0
        ...
4025   -13.0
4026   -11.0
4027   -20.0
4028   -24.0
4029   -31.0
Length: 4030, dtype: float64

In [45]:
# 시간 단위로 차이를 계산한다.
(reserve_tb['reserve_datetime']-reserve_tb['checkin_datetime']).astype('timedelta64[h]')

0      -477.0
1       -84.0
2      -599.0
3      -512.0
4      -399.0
        ...
4025   -299.0
4026   -246.0
4027   -463.0
4028   -571.0
4029   -721.0
Length: 4030, dtype: float64

In [49]:
# 분 단위로 차이를 계산한다.
(reserve_tb['reserve_datetime']-reserve_tb['checkin_datetime']).astype('timedelta64[m]')

0      -28611.0
1       -5031.0
2      -35937.0
3      -30700.0
4      -23920.0
         ...
4025   -17910.0
4026   -14706.0
4027   -27749.0
4028   -34210.0
4029   -43244.0
Length: 4030, dtype: float64

In [51]:
# 초 단위로 차이를 계산한다.
(reserve_tb['reserve_datetime']-reserve_tb['checkin_datetime']).astype('timedelta64[s]')

0      -1716618.0
1       -301805.0
2      -2156203.0
3      -1841990.0
4      -1435163.0
          ...
4025   -1074598.0
4026    -882303.0
4027   -1664895.0
4028   -2052583.0
4029   -2594589.0
Length: 4030, dtype: float64

## 10.4 일시형의 증감

In [52]:
# timedelta를 위한 datetime 라이브러리 호출.
import datetime

In [55]:
# reserve_datetime을 datetime64[ns]형으로 변환한다.
reserve_tb['reserve_datetime']=pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_datetime']

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [56]:
# reserve_datetime에서 date를 추출한다.
reserve_tb['reserve_date']=reserve_tb['reserve_datetime'].dt.date
reserve_tb['reserve_date']

0       2016-03-06
1       2016-07-16
2       2016-09-24
3       2017-03-08
4       2017-09-05
           ...
4025    2017-06-27
4026    2017-09-29
4027    2018-03-14
4028    2016-04-16
4029    2016-06-06
Name: reserve_date, Length: 4030, dtype: object

In [57]:
#reserve_datetime에 1일을 더한다.
reserve_tb['reserve_datetime']+datetime.timedelta(days=1)

0      2016-03-07 13:09:42
1      2016-07-17 23:39:55
2      2016-09-25 10:03:17
3      2017-03-09 03:20:10
4      2017-09-06 19:50:37
               ...
4025   2017-06-28 23:00:02
4026   2017-09-30 05:24:57
4027   2018-03-15 05:01:45
4028   2016-04-17 15:20:17
4029   2016-06-07 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [58]:
# reserve_date에 1일을 더한다.
reserve_tb['reserve_date']+datetime.timedelta(days=1)

0       2016-03-07
1       2016-07-17
2       2016-09-25
3       2017-03-09
4       2017-09-06
           ...
4025    2017-06-28
4026    2017-09-30
4027    2018-03-15
4028    2016-04-17
4029    2016-06-07
Name: reserve_date, Length: 4030, dtype: object

In [59]:
# reserve_datetime에 1시간을 더한다.
reserve_tb['reserve_datetime']+datetime.timedelta(hours=1)

0      2016-03-06 14:09:42
1      2016-07-17 00:39:55
2      2016-09-24 11:03:17
3      2017-03-08 04:20:10
4      2017-09-05 20:50:37
               ...
4025   2017-06-28 00:00:02
4026   2017-09-29 06:24:57
4027   2018-03-14 06:01:45
4028   2016-04-16 16:20:17
4029   2016-06-06 09:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [61]:
# 1분을 더한다.
reserve_tb['reserve_datetime']+datetime.timedelta(minutes=1)

0      2016-03-06 13:10:42
1      2016-07-16 23:40:55
2      2016-09-24 10:04:17
3      2017-03-08 03:21:10
4      2017-09-05 19:51:37
               ...
4025   2017-06-27 23:01:02
4026   2017-09-29 05:25:57
4027   2018-03-14 05:02:45
4028   2016-04-16 15:21:17
4029   2016-06-06 08:17:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [64]:
# 1초를 더한다.
reserve_tb['reserve_datetime']+datetime.timedelta(seconds=1)

0      2016-03-06 13:09:43
1      2016-07-16 23:39:56
2      2016-09-24 10:03:18
3      2017-03-08 03:20:11
4      2017-09-05 19:50:38
               ...
4025   2017-06-27 23:00:03
4026   2017-09-29 05:24:58
4027   2018-03-14 05:01:46
4028   2016-04-16 15:20:18
4029   2016-06-06 08:16:52
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

## 10.5 계절로 변환
계절 변화를 고려할 때는 직접적으로 영향을 끼치는 요소를 생각하는 것이 중요하다.
> 예를들어, 아이스크림이 가장많이 팔리는 계절은 여름이다. 여기서 더 나아가 여름의 무엇이 아이스크림 매출에 영향을 끼치는지 생각해보자. <br>
여름의 높은 기온이 영향을 끼친다고 예측할 수 있으며, 예상이 맞다면 **계절이 아니라 기온을 분석 요소**로 다뤄야 한다.

In [65]:
# datetime64[ns]형으로 변환.
reserve_tb['reserve_datetime']=pd.to_datetime(reserve_tb['reserve_datetime'],format='%Y-%m-%d %H:%M:%S')

In [71]:
# 월의 숫자를 계절로 변환하는 함수.
def to_season(month_num):
    season='winter'
    if 3 <= month_num <=5:
        season='spring'
    elif 6 <= month_num <=8:
        season='summer'
    elif 9 <= month_num <=11:
        season='autumn'
    return season

In [73]:
to_season(10)

'autumn'

In [83]:
reserve_tb['reserve_datetime'].dt.month

0       3
1       7
2       9
3       3
4       9
       ..
4025    6
4026    9
4027    3
4028    4
4029    6
Name: reserve_datetime, Length: 4030, dtype: int64

In [76]:
reserve_tb['reserve_datetime'].dt.month.apply(to_season)

0       spring
1       summer
2       autumn
3       spring
4       autumn
         ...
4025    summer
4026    autumn
4027    spring
4028    spring
4029    summer
Name: reserve_datetime, Length: 4030, dtype: object

In [93]:
# 함수에 전달하기 전에 값을 변환하고 싶다면 람다식을 이용.(결과는 같음.)
reserve_tb['reserve_datetime'].dt.month.apply(lambda x: to_season(x))

0       spring
1       summer
2       autumn
3       spring
4       autumn
         ...
4025    summer
4026    autumn
4027    spring
4028    spring
4029    summer
Name: reserve_datetime, Length: 4030, dtype: object

In [84]:
# 계절로 변환한다.
pd.Categorical(reserve_tb['reserve_datetime'].dt.month.apply(to_season),categories=['spring','summer','autumn','winter'])

[spring, summer, autumn, spring, autumn, ..., summer, autumn, spring, spring, summer]
Length: 4030
Categories (4, object): [spring, summer, autumn, winter]

In [86]:
reserve_tb['reserve_season']=pd.Categorical(reserve_tb['reserve_datetime'].dt.month.apply(to_season),categories=['spring','summer','autumn','winter'])
reserve_tb['reserve_season']

0       spring
1       summer
2       autumn
3       spring
4       autumn
         ...
4025    summer
4026    autumn
4027    spring
4028    spring
4029    summer
Name: reserve_season, Length: 4030, dtype: category
Categories (4, object): [spring, summer, autumn, winter]

## 10.7 평일과 휴일로 변환
휴일 마스터와 결합하면 휴일 플래그, 휴일 전날 플래그를 부여할 수 있다.

In [115]:
holiday_mst=pd.read_csv('./data/holiday_mst.csv',encoding='UTF-8')

In [117]:
holiday_mst

      target_day  holidayday_flg  nextday_is_holiday_flg
0     2016-01-01            True                    True
1     2016-01-02            True                    True
2     2016-01-03            True                   False
3     2016-01-04           False                   False
4     2016-01-05           False                   False
...          ...             ...                     ...
1181  2019-03-27           False                   False
1182  2019-03-28           False                   False
1183  2019-03-29           False                    True
1184  2019-03-30            True                    True
1185  2019-03-31            True                   False

[1186 rows x 3 columns]

In [118]:
reserve_tb.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,checkin_datetime,reserve_date,reserve_season,dayofweek
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,2016-03-26 10:00:00,2016-03-06,spring,토
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2016-07-20 11:30:00,2016-07-16,summer,금
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,2016-10-19 09:00:00,2016-09-24,autumn,금
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,2017-03-29 11:00:00,2017-03-08,spring,화
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,2017-09-22 10:30:00,2017-09-05,autumn,월

In [116]:
# 휴일 마스터와 결합.
pd.merge(reserve_tb, holiday_mst, left_on='checkin_date',right_on='target_day')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,checkin_datetime,reserve_date,reserve_season,dayofweek,target_day,holidayday_flg,nextday_is_holiday_flg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,2016-03-26 10:00:00,2016-03-06,spring,토,2016-03-26,True,True
1,r1269,h_138,c_309,2016-03-14 13:57:45,2016-03-26,11:30:00,2016-03-29,4,115200,2016-03-26 11:30:00,2016-03-14,spring,일,2016-03-26,True,True
2,r2192,h_267,c_547,2016-03-21 09:23:13,2016-03-26,11:00:00,2016-03-27,2,19600,2016-03-26 11:00:00,2016-03-21,spring,일,2016-03-26,True,True
3,r2288,h_144,c_574,2016-03-05 23:44:17,2016-03-26,12:30:00,2016-03-28,3,60000,2016-03-26 12:30:00,2016-03-05,spring,금,2016-03-26,True,True
4,r2987,h_230,c_754,2016-03-21 07:00:01,2016-03-26,10:00:00,2016-03-27,2,34800,2016-03-26 10:00:00,2016-03-21,spring,일,2016-03-26,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,r3904,h_240,c_970,2018-04-10 10:01:59,2018-04-10,12:00:00,2018-04-13,4,320400,2018-04-10 12:00:00,2018-04-10,spring,월,2018-04-10,False,False
4026,r3905,h_230,c_970,2018-07-02 01:37:45,2018-07-24,12:30:00,2018-07-25,3,52200,2018-07-24 12:30:00,2018-07-02,summer,일,2018-07-24,False,False
4027,r3936,h_46,c_979,2018-09-10 05:48:22,2018-10-02,12:00:00,2018-10-05,3,166500,2018-10-02 12:00:00,2018-09-10,autumn,일,2018-10-02,False,False
4028,r3959,h_93,c_983,2018-02-16 11:01:40,2018-03-15,11:00:00,2018-03-17,3,58800,2018-03-15 11:00:00,2018-02-16,winter,목,2018-03-15,False,False
4029,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,2018-05-21 12:00:00,2018-04-22,spring,토,2018-05-21,False,False